Thumbs.db
*.obj
*.exe
*.sdf
*.pdb
*.user
*.aps
*.pch
*.pchi
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.opensdf
*.ipch
*.BASE
*.LOCAL
*.REMOTE
.vs/RUS/v15/Solution.VC.db-wal
.vs/RUS/v15/Browse.VC.db
.vs/RUS/v15/Solution.VC.db
.vs/RUS/v15/Solution.VC.db-shm
RUS/My Advisor Results - RUS/annotations.advidb2
RUS/My Advisor Results - RUS/e000/e000.advixeexp
RUS/My Advisor Results - RUS/e000/settings.xml
RUS/My Advisor Results - RUS/e000/source_cache/snippets.data
RUS/My Advisor Results - RUS/My Advisor Results - RUS.advixeproj
RUS/My Inspector Results - RUS/My Inspector Results - RUS.inspxeproj
RUS/RUS.vcxproj
RUS/RUS.vcxproj.filters
